* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background-color: #fff;
}

.home {
    background-color: #ffe4e6;
    padding: 100px 20px;
    text-align: center;
    height: 100vh;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
}

.home h1 {
    font-size: 3rem;
    color: #c2185b;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.home h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #880e4f;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #444;
}

.home-buttons .btn {
    padding: 12px 24px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}

.btn.primary {
    border: 2px solid #c2185b;
    color: #c2185b;
    background-color: transparent
}

.btn.primary:hover {
    color: black;
    background-color: #fce4ec;
}

.home-buttons .btn:hover {
    transform: scale(1.25);
}